<div class="grid justify-center grid-cols-12 h-screen">
    <div class="col-span-12 hidden sm:block bg-primary sm:col-span-4 justify-center items-center">
        <img class="object-cover h-screen w-screen" src="./../../../../../assets/images/Error-404.webp" alt="erro 404">
        
    </div>
    <div class="p-8 col-span-12 sm:col-span-8 bg-white flex justify-center items-center">
        <div class="text-center grid grid-cols-3">
            <h1 class="col-span-3 text-4xl font-bold text-gray-1 mb-4">404 - Página não encontrada!</h1>
            <p class="text-gray-2 col-span-3">Desculpe, a página que você está procurando não foi encontrada ou o
                caminho está incorreto.</p>
            <div class="col-span-3 pt-4">
                <button routerLink="/" class="bg-primary hover:bg-hover-primary text-white font-bold py-2 px-8 rounded">
                    Tela inícial
                </button>
            </div>
        </div>
    </div>
</div>